<li role="presentation" class="dropdown">
    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false" id="iconAlert">
        <i class="fa fa-bell"></i>
        <span id="badgeNombrePanne" class="badge">0</span>
    </a>
    <ul id="menuPannes" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
    </ul>
</li>