  <%- include('header') -%>
  <!-- page content -->
  <div class="right_col height100 " style="padding:50px 0 120px 0;" role="main">

      <div id="map" style="width:100%;height:100%;"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIpkq2qmv4bMGXAiwbpnEfyHm-wTnqOc8&callback=initMap" async defer></script>
      <script type="text/javascript">
      var map;
      var center = [];
        function initMap() {

          var locations = [
            ['Ingésup', 44.8548213, -0.5669609999999999, 1],
            ['Gillian', 44.8613528, -0.5643929999999955, 2],
            ['Maincare Solutions', 44.7826402, -0.6353303999999298, 3],
            ['Perard Castle', 44.204335, 0.5963481999999658, 4],
          ];
          window.map = new google.maps.Map(document.getElementById('map'), {
              mapTypeId: google.maps.MapTypeId.ROADMAP
          });

          var infowindow = new google.maps.InfoWindow();

          var bounds = new google.maps.LatLngBounds();

          for (i = 0; i < locations.length; i++) {
              marker = new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                  map: map,
              });

              bounds.extend(marker.position);

              google.maps.event.addListener(marker, 'click', (function (marker, i) {
                  return function () {
                      infowindow.setContent(locations[i][0]);
                      infowindow.open(map, marker);
                  }
              })(marker, i));
          }

          map.fitBounds(bounds);

          var listener = google.maps.event.addListener(map, "idle", function () {
              google.maps.event.removeListener(listener);
          });
        }


    </script>
  <%- include('footer') -%>

