<%- include('header') -%>

<div class="right_col" role="main">

<div class="">
    <div class="page-title margintop45px">
        <div class="title_left">
            <h3>Mon profil</h3>
        </div>
    </div>
    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">

                                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                                        <div class="profile_img">

                                            <!-- end of image cropping -->
                                            <div id="crop-avatar">
                                                <!-- Current avatar -->
                                                <div class="avatar-view" title="Change the avatar">
                                                    <img src="images/picture.jpg" alt="Avatar">
                                                </div>
                                            </div>
                                            <!-- end of image cropping -->

                                        </div>
                                        <h3>Hector Robert</h3>

                                        <ul class="list-unstyled user_data">
                                            <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
                                            </li>

                                            <li>
                                                <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                                            </li>

                                            <li class="m-top-xs">
                                                <i class="fa fa-external-link user-profile-icon"></i>
                                                <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="x_panel">
                                                    <div style="font-size:18px;"><strong>État-civil</strong></div>

                                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Prénom
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input  type="text" id="first-name" class="form-control col-md-7 col-xs-12" value="Hector" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nom
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input  type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" value="ROBERT" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Sexe</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <div id="gender" class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-primary active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                        <input type="radio" name="gender" value="male" checked=""> &nbsp; Homme &nbsp;
                                                                    </label>
                                                                    <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                        <input type="radio" name="gender" value="female" >  &nbsp; Femme &nbsp;
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de naissance
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input  id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" value="12/05/1968"/>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Profil</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select class="form-control" >
                                                                    <option selected>Conducteur</option>
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Permis</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select class="form-control" >
                                                                    <option selected>Camions/Voitures</option>
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="divider-dashed"></div>
                                                        <div style="font-size:18px;"><strong>Téléphone</strong></div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone-num">Numéro
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input  type="text" id="telephone-num" class="form-control col-md-7 col-xs-12" value="09 99 54 99 54" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone-serie">Modèle - Numéro de série
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <input  type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" value="HTC Windows Phone 1 - df6s15df6165s1df5sf5s1df6sdf">
                                                                </input>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">État</label>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                <select class="form-control" >
                                                                    <option selected>Fonctionnel</option>
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                  <%- include('footer') -%>