<%- include('header') -%>

<div class="right_col" role="main">

<div class="">
    <div class="page-title margintop45px">
        <div class="title_left">
            <h3>Référentiel - Liste des utilisateurs</h3>
        </div>

        <!-- Recherche -->
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Rechercher</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <!-- Listes des utilisateurs -->
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">

                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 160px;">
                                    <h4 class="brief"><i>Conducteur</i></h4>
                                    <div class="left col-xs-7">
                                        <h2>ROBERT Hector</h2>
                                        <p><strong>12/05/1968</strong></p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-phone"> </i> 09 99 54 99 54</li>
                                        </ul>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/user_rh.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs"
                                         data-toggle="modal" data-target=".bs-example-modal-lg">  
                                            <i class="fa fa-user"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target=".bs-example-modal-sm"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 160px;">
                                    <h4 class="brief"><i>Conducteur</i></h4>
                                    <div class="left col-xs-7">
                                        <h2>DUPONT Louis</h2>
                                        <p><strong>28/03/1987</strong></p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-phone"> </i> 08 65 42 98 53</li>
                                        </ul>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/user_dl.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs">  
                                            <i class="fa fa-user"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 160px;">
                                    <h4 class="brief"><i>Administrateur</i></h4>
                                    <div class="left col-xs-7">
                                        <h2>HERBRETZEL Hans</h2>
                                        <p><strong>02/09/1991</strong></p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-phone"> </i> Aucun </li>
                                        </ul>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/user_hh.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs">  
                                            <i class="fa fa-user"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 160px;">
                                    <h4 class="brief"><i>Réparateur</i></h4>
                                    <div class="left col-xs-7">
                                        <h2>MARTIN Michel</h2>
                                        <p><strong>18/11/1976</strong></p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-phone"> </i> 07 62 35 48 53</li>
                                        </ul>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/user_mm.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs">  
                                            <i class="fa fa-user"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 160px;">
                                    <h4 class="brief"><i>Réparateur</i></h4>
                                    <div class="left col-xs-7">
                                        <h2>MARTIN Hélène</h2>
                                        <p><strong>24/05/1979</strong></p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-phone"> </i> 07 63 34 51 68</li>
                                        </ul>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/user_mh.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs">  
                                            <i class="fa fa-user"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modale "Consulter utilisateur" -->
    <div class="modal fade bs-example-modal-lg" id="popupConsultUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Informations de l'utilisateur</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div style="font-size:18px;"><strong>État-civil</strong></div>

                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Prénom
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input disabled type="text" id="first-name" class="form-control col-md-7 col-xs-12" value="Hector" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nom
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input disabled type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" value="ROBERT" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Sexe</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div id="gender" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                    <input type="radio" name="gender" value="male" checked=""> &nbsp; Homme &nbsp;
                                                </label>
                                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                    <input type="radio" name="gender" value="female" >  &nbsp; Femme &nbsp;
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de naissance
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input disabled id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" value="12/05/1968"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Profil</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" disabled>
                                                <option selected>Conducteur</option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Permis</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" disabled>
                                                <option selected>Camions/Voitures</option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="divider-dashed"></div>
                                    <div style="font-size:18px;"><strong>Téléphone</strong></div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone-num">Numéro
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input disabled type="text" id="telephone-num" class="form-control col-md-7 col-xs-12" value="09 99 54 99 54" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone-serie">Modèle - Numéro de série
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input disabled type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12" value="HTC Windows Phone 1 - df6s15df6165s1df5sf5s1df6sdf">
                                            </input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">État</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" disabled>
                                                <option selected>Fonctionnel</option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modale "Supprimer utilisateur" -->
    <div class="modal fade bs-example-modal-sm" id="popupSupprUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Supprimer l'utilisateur ?</h4>
                </div>
                <div class="modal-body">
                    <p>Vous vous apprêtez à supprimer l'utilisateur.</br>
                    Voulez-vous continuer ?
                    </br>
                    </br>
                    <strong>Note :</strong> si l'utilisateur est lié à des missions, véhicules ou autres, ce dernier
                    ne sera pas supprimé, il sera seulement désactivé.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Supprimer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') -%>