<%- include('header') -%>

<div class="right_col" role="main">

<div class="">
    <div class="page-title margintop45px">
        <div class="title_left">
            <h3>Référentiel - Liste des véhicules</h3>
        </div>

        <!-- Recherche -->
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Rechercher</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <!-- Listes des véhicules -->
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">

                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 220px;">
                                    <h4 class="brief"><i>GrosTruck - 1856xm</i></h4>
                                    <div class="left col-xs-7">
                                        <p><strong>Description : </strong> Immat : 32-FPOD-52. Vehicule de la marque GrosTruck, en circulation depuis 1987. Supporte 500 tonnes.
                                        </p>
                                        <p><strong>Camion</strong></p>
                                        <p><strong>Fonctionnel</strong></p>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/vehic_truck.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs"
                                         data-toggle="modal" data-target="#MOD_CONS_VEH">  
                                            <i class="fa fa-truck"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#MOD_DEL_VEH"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 220px;">
                                    <h4 class="brief"><i>GrosTruck - 1856xm</i></h4>
                                    <div class="left col-xs-7">
                                        <p><strong>Description : </strong> Immat : 12-FRFD-98. Vehicule de la marque GrosTruck, en circulation depuis 1995. Supporte 500 tonnes.
                                        </p>
                                        <p><strong>Camion</strong></p>
                                        <p><strong>Fonctionnel</strong></p>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/vehic_truck.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs"
                                         data-toggle="modal" data-target="#MOD_CONS_VEH">  
                                            <i class="fa fa-truck"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#MOD_DEL_VEH"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 220px;">
                                    <h4 class="brief"><i>GrosTruck - 1856xm</i></h4>
                                    <div class="left col-xs-7">
                                        <p><strong>Description : </strong> Immat : 45-FDGD-32. Vehicule de la marque GrosTruck, en circulation depuis 1995. Supporte 500 tonnes.
                                        </p>
                                        <p><strong>Camion</strong></p>
                                        <p><strong>Fonctionnel</strong></p>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/vehic_truck.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs"
                                         data-toggle="modal" data-target="#MOD_CONS_VEH">  
                                            <i class="fa fa-truck"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#MOD_DEL_VEH"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 220px;">
                                    <h4 class="brief"><i>GrosTruck - 1856xm</i></h4>
                                    <div class="left col-xs-7">
                                        <p><strong>Description : </strong> Immat : 65-PODF-38. Vehicule de la marque GrosTruck, en circulation depuis 1995. Supporte 500 tonnes.
                                        </p>
                                        <p><strong>Camion</strong></p>
                                        <p><strong>Fonctionnel</strong></p>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/vehic_truck.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs"
                                         data-toggle="modal" data-target="#MOD_CONS_VEH">  
                                            <i class="fa fa-truck"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#MOD_DEL_VEH"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 220px;">
                                    <h4 class="brief"><i>Peugeot - 206</i></h4>
                                    <div class="left col-xs-7">
                                        <p><strong>Description : </strong> Immat :89-PEUG-23. Vehicule en circulation depuis 1994. Couleur bleu métalisé.
                                        </p>
                                        <p><strong>Voiture réparation</strong></p>
                                        <p><strong>Fonctionnel</strong></p>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/vehic_voiture.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs"
                                         data-toggle="modal" data-target="#MOD_CONS_VEH">  
                                            <i class="fa fa-truck"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#MOD_DEL_VEH"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                            <div class="well profile_view">
                                <div class="col-sm-12" style="min-height: 220px;">
                                    <h4 class="brief"><i>Peugeot - 206cc</i></h4>
                                    <div class="left col-xs-7">
                                        <p><strong>Description : </strong> Immat :89-PEIG-23. Vehicule en circulation depuis 2006. Couleur bleu métalisé.
                                        </p>
                                        <p><strong>Voiture réparation</strong></p>
                                        <p><strong>Fonctionnel</strong></p>
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        <img src="images/vehic_voiture.jpg" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-12 bottom text-center">
                                    <div class="col-xs-12 col-sm-12 emphasis">
                                        <button type="button" class="btn btn-primary btn-xs"
                                         data-toggle="modal" data-target="#MOD_CONS_VEH">  
                                            <i class="fa fa-truck"> </i> Consulter
                                        </button>
                                         <button type="button" class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#MOD_DEL_VEH"> 
                                            </i><i class="fa fa-remove"> </i> Supprimer 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Modale "Consulter véhicule" -->
    <div id="MOD_CONS_VEH" class="modal fade bs-example-modal-lg" id="popupConsultVehic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Informations du véhicule</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div style="font-size:18px;"><strong>Fiche du véhicule</strong></div>

                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="vehi-marque">Marque
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input disabled type="text" id="vehi-marque" name="vehi-marque" required="required" class="form-control col-md-7 col-xs-12" value="1856xm"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="vehi-modele">Modele
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input disabled type="text" id="vehi-modele" class="form-control col-md-7 col-xs-12"
                                              value="GrosTruck"/>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea disabled class="form-control" rows="3">Immat : 32-FPOD-52. Vehicule de la marque GrosTruck, en circulation depuis 1987. Supporte 500 tonnes.
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" disabled>
                                                <option selected>Camion</option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">État</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" disabled>
                                                <option selected>Fonctionnel</option>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </form>


                                <div class="divider-dashed"></div>
                                <div style="font-size:18px;"><strong>Position actuelle</strong></div>
                                <div class="control-label col-md-12 col-sm-12 col-xs-12" style="height:300px;">
                                    <div id="map" style="width:100%;height:100%;"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modale "Supprimer vehicule" -->
    <div id="MOD_DEL_VEH" class="modal fade bs-example-modal-sm" id="popupSupprVehic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Supprimer le véhicule ?</h4>
                </div>
                <div class="modal-body">
                    <p>Vous vous apprêtez à supprimer le véhicule.</br>
                    Voulez-vous continuer ?
                    </br>
                    </br>
                    <strong>Note :</strong> si le véhicule est lié à des missions, utilisateurs ou autres, ce dernier ne sera pas supprimé, il sera seulement désactivé.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Supprimer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- script for map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIpkq2qmv4bMGXAiwbpnEfyHm-wTnqOc8&callback=initMap" async defer></script>
<script type="text/javascript">
var map;
var center = [];
  function initMap() {
    window.map = new google.maps.Map(document.getElementById('map'), {
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var bounds = new google.maps.LatLngBounds();
    marker = new google.maps.Marker({
        position: new google.maps.LatLng(44.853976, -0.566818),
        map: map,
    });
     
    bounds.extend(marker.position);

    map.fitBounds(bounds);

    var listener = google.maps.event.addListener(map, "idle", function () {
        google.maps.event.removeListener(listener);
    });
  }
</script>
<script src="js/ref_map.js"></script>

<%- include('footer') -%>