html, body{
	position: absolute;
	width: 100%;
	height: 100%;
}

.height100{
	height: 100% !important;
}

.noPadding{
	padding: 0 !important;
}

.noMargin{
	margin: 0 !important;
}

.toggle{
	padding-top:12px !important;
}

#iconAlert{
	margin-right: 10px;
	padding: 13px 15px 0px;
}

.margintop45px{
	margin-top: 45px;
}

.buttonOnMap{
	right: 0;
	position: absolute;
	margin-top: 10px !important;
	margin-right: 10px !important;
	z-index: 99;
}

@media (max-width: 991px){
.right_col {
    padding: 0px !important;
}

#map{
	width: 100%;
	height: 100%;
}

.modal-content{
	border-radius: 0px !important;
}

ul{list-style-type: none}

.paramMap{
	list-style-type:none; 
}

.paramMap li{
	padding: 10px;
	background: #eee;
	border-radius: 2px;
}

.DTTT_container{
	display: none !important;
}
